 <div class="row">
            <div class="col-md-7">
              <img src="http://placehold.it/700x300") style=" max-width:100%">
            </div>
            <div class="col-md-5">
                <h3><%= @space.title %></h3>
                <p><%= @space.text %></p>
            </div>
        </div>
	<br />
	<br />
<%= link_to "Back", "/", { :class=>"btn btn-default" } %>
